@model List<Arma>
@{
    ViewData["Title"] = "Home";
    var caracteristicas = (List<Caracteristica>)ViewData["Caracteristicas"];
    string Cor(string nome)
    {
        return caracteristicas
        .Where(t => t.Nome == nome)
        .Select(t => t.Cor)
        .FirstOrDefault();
    }
}

<section class="pt-5 pb-3 text-center  container">
    <div class="row">
        <div class="col mx-auto">
            <h1 class="cs">Skins CSGO</h1>
            <div class="group">
                <button id="btn-all" class="btn btn-md my-2 text-white bg-dark btn-filter"
                    onclick="filter('all')">
                    Ver Todos
                </button>
                @foreach (var caracteristica in caracteristicas)
                {
                    <button id="btn-@caracteristica.Nome" class="btn btn-sm my-2 text-white btn-filter"
                        style="background-color:@caracteristica.Cor" onclick="filter('@caracteristica.Nome')">
                        @caracteristica.Nome
                    </button>
                }
            </div>
        </div>
    </div>
</section>

<div id="back">
    <div class="container">
          
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var arma in Model)
            {
                <div class="col" onclick="window.location = '/Home/Details/@arma.Numero'">
                    <div class="card shadow-sm cursor-pointer @string.Join(' ', arma.Caracteristica)">
                        <img src="@arma.Imagem" class="card-img-top" width="100%" height="300" alt="@arma.Nome" />
                        <div class="card-body bg-dark">
                            <p class="card-text mb-0">N° @arma.Numero.ToString("000")</p>
                            <h3 class="card-title">@arma.Nome</h3>
                            <div class="btn-group">
                                @foreach (var caracteristica in arma.Caracteristica)
                                {
                                    <a href="#" class="btn my-2 text-white"
                                     style="background-color:@Cor(caracteristica)"
                                     onclick="filter('@caracteristica')">@caracteristica</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card skin - Fim -->
            }

            <div id="zeroArma" class="col-lg-12  text-center d-none">
                <h1 class="my-3 text-danger">Nenhuma Skin Encontrada</h1>
            </div>
        </div>

    </div>
</div>